body {
	background: #1f1f14;
}

button {
    background-color: #000000; /* Green */
    border-radius: 10%;
    color: #262626;
    font-weight: 900;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#c1 {
	background-color: #fdfefe;
	border: 5px solid #f8f9f9
;
}
#d1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#e1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#f1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#g1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#a1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#h1 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}
#c2 {
	background-color: #fdfefe ;
	border: 5px solid #f8f9f9
;
}

h1 {
	color: #a5a573;
}